---
layout   : home
permalink: /red-accent
# Custom Page Variables
# ─────────────────────
title: Red Accent
---

<div class="container red-accent">
    <div class="row d-flex align-items-stretch">
        <div class="col-12 col-lg-2 offset-md-2 d-flex align-items-end logo-red-accent">
            <img src="{{ site.baseurl }}/images/logo_red_accent.png" alt="Red Accent logo" class="img-fluid "/>
        </div>
        <div class="col-12 col-lg-8 d-flex align-items-end article-red-accent">
            <div>
                <h1>{{ page.title }}</h1>
                <p>The Red Accent project... A collaboration with the Belgian wingsuiter Sven Ugau.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</p>
                <p><a href="https://svenugau.com/" target="_blank">Visit the site of Ugau <i class="fa fa-chevron-right"></i></a></p>
            </div>
        </div>
        <div class="col-12 d-flex align-items-end justify-content-center scroll_down">
            <p>scroll down to watch pictures and videos<br><i class="fa fa-chevron-down"></i></p>
        </div>    
    </div>
</div>

<!-- youtube --> 
<div class="container visit-youtube">
    <div class="row d-flex align-items-stretch">
        <div class="col-12 col-lg-2 offset-md-2 d-flex align-items-end logo-red-accent">
            <a id="youtube" href="https://www.youtube.com/channel/UCr1JkPy3vtFjDJM90K1UZlA" target="_blank"><i class="fa fa-youtube-play youtube-playbtn" aria-hidden="true"></i></a>
        </div>
        <div class="col-12 col-lg-8 d-flex align-items-end article-red-accent">
            <div>
                <h1>Visit the YouTube page</h1>
            </div>
        </div>  
    </div>
</div>

<!-- photos -->
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <div class="gallery d-flex align-items-center">
                <ul class="gallery-list">
                    {% for image in site.static_files %}
                    {% if image.path contains 'images/red-accent' %}
                        <li>        
                            <img src="{{ site.baseurl }}{{ image.path }}" alt="image" class="img-fluid image"/>
                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-2">
            <div class="gallery-thumb">
                <ul class="d-flex flex-column-reverse gallery-thumb-list">
                    {% for image in site.static_files %}
                    {% if image.path contains 'images/red-accent' %}
                        <li class="listitem">        
                            <img src="{{ site.baseurl }}{{ image.path }}" alt="image" class="img-fluid image-thumb"/>
                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>





